<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Buscar</p>
    <form action="/buscar" method="post">
        <input type="text" name="nombre" id="">
        <button type="submit">enviar</button>
    </form>
    <form action="/add" method="post">
        <input type="text" name="nombre" id="">
        <input type="email" name="email" id="">
        <button type="submit">enviar</button>
    </form>
    <table>
        <thead>
            <tr>
                <td>User</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            {% for dato in data %}
                <tr>
                    <td>{{dato.1}}</td>
                    <td>{{dato.2}}</td>
                    <td><a href="/delete/{{dato.0}}">Eliminar</a></td>
                    <td><a href="/edit/{{dato.0}}">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  
</body>
</html>